body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
header {
  background-color: #ffffff;
}
.logo-b {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.span-b {
  color: #2e2f42;
}
.studio-b {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
nav ul li a:hover,
nav ul li a:focus {
  color: #404bbf;
}
header nav ul li a {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.adres-b {
  font-style: normal;
}
.mail-b {
  letter-spacing: 0.02em;
}
address ul li a:hover,
address ul li a:focus {
  color: #404bbf;
}
header address ul li a {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}
.section-bir {
  background-color: #2e2f42;
}
.baslik-bir {
  font-family: Roboto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07em;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  background-color: #2e2f42;
}
.buton-bir {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}
Button:hover,
Button:focus {
  background-color: #404bbf;
}
.section-iki {
  background-color: #ffffff;
}
.section-iki ul li h3 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-iki li p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-uc {
  background-color: #f4f4fd;
}
.baslik-iki {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.section-uc ul {
  background-color: #ffffff;
}
.list-uc {
  background-color: #ffffff;
}
.section-uc ul li h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.baslik-uc {
  font-size: 16px;
}
.section-uc ul li p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.section-dort {
  background-color: #ffffff;
}
.section-dort h2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.section-dort ul li h3 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-dort ul li p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
footer {
  background-color: #2e2f42;
}
footer a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  color: #4d5ae5;
}
.span-iki {
  color: #f4f4fd;
}
.parag-f {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
